<div class="card-event d-flex flex-column justify-content-between">
  <div class="card-event-infos">
    <div>
      <h3><%= event.title.humanize %></h3>
      <p><%= t('.organizer') %> <%= event.organizer.first_name %></p>
      <p><%= event.description %></p>
      <% if event.category.present? %>
        <p><%= t('.category') %> <%= event.category %></p>
      <% end %>
      <p><%= t('.day') %> <%= event.start_time.strftime("%A, %d %B %Y") %></p>
      <p><%= t('.time') %> <%= event.start_time.strftime("%I:%M %P") %></p>
      <% if event.location.present? %>
        <p><%= t('.location') %> <%= event.location %></p>
      <% end %>

      <% if event.weather_data.present? && action_name == 'show' %>
        <p><%= t('.weather_main') %> <%= event.weather_data['weather_main'] %></p>
        <p><%= t('.weather_description') %> <%= event.weather_data['weather_description'] %></p>
        <p><%= t('.temperature', temperature: event.weather_data['temperature']) %></p>
        <p><%= t('.temp_min', temperature: event.weather_data['temp_min']) %></p>
        <p><%= t('.temp_max', temperature: event.weather_data['temp_max']) %></p>
        <p><%= t('.humidity', humidity: event.weather_data['humidity']) %></p>
        <p><%= t('.wind_speed', speed: event.weather_data['wind_speed']) %></p>
      <% end %>

      <% if event.participants.present? && action_name == 'show' %>
        <% event.participants.each do |participant| %>
          <p><%= t('.participants') %></p>
          <p><%= full_name(participant) %></p>
        <% end %>
      <% end %>
    </div>
    <h3 class="card-event-duration"><%= t('.duration', minutes: event_duration(event)) %></h3>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-event-user avatar-bordered" />
  </div>

  <div class="d-flex justify-content-end mb-3 me-3">
      <%= link_to t('.check'), event_path(event), class: "btn btn-flat" if action_name != 'show' %>
  </div>
</div>
